# Ignore virtual environment folders
venv/
.vscode

# Ignore specific library folders
sentiment_analysis/mailing_list
sentiment_analysis/archive
sentiment_analysis/library
sentiment_analysis/tukaani-project_xz
sentiment_analysis/__pycache__
sentiment_analysis/.vscode
sentiment_analysis/lib
sentiment_analysis/rdd


*.py[cod]
*$py.class

# C extensions
*.so
*sentiment_analysis/mailing_list

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
bin/
var/
*.dll
*.dylib
*.exe
*.app

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
